.abm-desc-container {
  display: flex;
  flex-direction: row;
  gap: 170px;
  margin-top: 68px;
  margin-left: 110px;
}

.abm-desc {
  margin-left: 147px;
  max-width: 526px;
}

.abm-desc p {
  width: 550px;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-top: 0px;
}

