.landing-page {
  width: 1596px;
  height: 1024px;
  background-image: url("../assets/img/1c9614b0d007a1bd74392ce242198a4ab97e05ab.jpg");
  background-size: auto 100%;
  background-position: 0px center;
  background-repeat: no-repeat;
  background-color: #000;
}